* {
    margin: 0;
    padding: 0;
}

body {
    img {
        width: 260px;
        height: 120px;
    }

    .img-1 {
        width: 60px;
        height: 60px;
        margin-left: 150px;
    }

    #Nobel {
        width: 1200px;
        height: 13952px;

        .color-blue-text {
            color:#0098D6;
        }

        .productsHeaders {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 38px;
            text-align: center;
            letter-spacing: 0.03em;
        }

        .OurProductP {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 29px;
            text-align: center;
            letter-spacing: 0.03em;
            
            color: #686967;
        }

        header {

            .logo1 {
                position: absolute;
                left: 0%;
                right: 0%;
                top: 0%;
                bottom: 0%; 
                width: 196px;
                height: 35px;
            }

            #buttons1 {
                position: absolute;
                width: 62px;
                height: 17px;
                left: 990px;
                top: 64px;

                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: 15px;
                display: flex;
                align-items: center;
                text-align: center;
            }

            #loginButton {
                color: #0098D6;
                border: none;
                
            }

            #secondRow {
                margin: 20px;
                padding: 5px;
                height: 47px;
                width: 1200px;
                left: 0px;
                top: 67px;
                border-radius: 0px;
                background-color: #F5FAFE;

                ul {
                    padding: 10px;
                    li { 
                        display: inline;
                        padding-right: 10px;

                        a {
                            color: #686967;
                        }
                    }
                }
            }
        }
        main {

            .step-info {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
                text-align: center;

                #diam-drop {
                    width: 200px;
                    height: 50px;
                    position: absolute;
                    top: 280px;
                    left: 930px;
                }
            } 

            .step-title {
                display: block;
                width: 115px;
                height: 22px;
            }

            #h61 {
                position: absolute;
                top: 255px;
                left: 122px;
            }

            #h62 {
                position: absolute;
                top: 255px;
                left: 292px;
            }

            #h63 {
                position: absolute;
                top: 255px;
                left: 475px;
            }

            #h64 {
                position: absolute;
                top: 255px;
                left: 618px;
            }

            #h65 {
                position: absolute;
                top: 255px;
                left: 785px;
            }

            #h66 {
                position: absolute;
                top: 255px;
                left: 945px;
            }

            .coins {

                #btc {
                    position: absolute;
                    top: 300px;
                    left: 282px;
                }

                #eth {
                    position: absolute;
                    top: 300px;
                    left: 339px;
                }

                #usdt {
                    position: absolute;
                    top: 300px;
                    left: 400px;
                }

                #tusdt {
                    position: absolute;
                    top: 330px;
                    left: 282px;
                }

                #usdc {
                    position: absolute;
                    top: 330px;
                    left: 345px;
                }

                #pax {
                    position: absolute;
                    top: 330px;
                    left: 407px;
                }
                
                #bnb {
                    position: absolute;
                    top: 355px;
                    left: 335px;
                }

                li {
                    text-transform: uppercase;
                    display: inline-block;
                    position: relative;
                    text-align: center;

                    img {
                        width: 15px;
                        height: 15px;
                        position: relative;
                        top: -2px;
                    }
                }

            }

            .product-test {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 17px;
                text-align: center;
                color: rgba(104, 105, 103, 0.8);
                width: 140px;
                height: 50px;

            }

            #product4 {
                position: absolute;
                top: 300px;
                left: 600px;
            }

            #product5 {
                position: absolute;
                top: 300px;
                left: 775px;
            }

            #product6 {
                position: absolute;
                top: 340px;
                left: 960px;
            }

            #eclipses{
                display: flex;
                padding: 20px;
                position: absolute;
                right: 800px;
                top: 380px;
            }

            .eclipse {
                height: 8px;
                width: 8px;
                left: 566px;
                top: 518px;
                border-radius: 0px;
                background-color: #D1D6E3;
                margin: 20px;
            }

            #box1 {
                box-sizing: border-box;

                position: absolute;
                width: 415px;
                height: 137px;
                left: 60px;
                top: 1124px;

                background: #FFFFFF;
                box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.12);
                border-radius: 4px;

                #diamond1 {
                    margin-top: 20px;
                    margin-left: 12px;
                    
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }

            #getStarted {
                position: absolute;
                width: 168px;
                height: 35px;
                left: 95px;
                top: 15px;

                font-family: 'Raleway';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 0.03em;

                color: rgba(0, 0, 0, 0.5);

            }

            .eclipse2 {
                box-sizing: border-box;

                width: 66px;
                height: 66px;
                border-radius: 50%;

                background: #FFFFFF;
                border: 1px solid #0098D6;
            }

            #eclipse2_1 {
                position: absolute;
                left: 315px;
                top: 19px;
            }

            .whiteList {
                width: 168px;
                height: 31px;

                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                display: flex;
                align-items: center;
                text-align: center;

                color: #0098D6;
            }

            #whiteList1 {
                position: absolute;
                left: 6px;
                top: 17px;
            }

            #createAccount1 {

                position: absolute;
                left: 112px;
                top: 73px;
            }

            .createAccount {
                background: #0098D6;
                border-radius: 2px;
                width: 144px;
                height: 38px; 
            }

            #eclipse2_2 {
                position: absolute;
                top: 2534px;
                left: 640px;
            }

            #whiteList2 {
                position: absolute;
                top: 15px;
                left: 8px;
            }

            #createAccount2 {
                position: absolute;
                top: 2578px;
                left: 523px;
                z-index: -1;
            }

            .color-blue {
                background-color: #0098D6;
            }

            .safe {
                color: #0098D6;
                margin-left: 50px;
            }

            #safeStable {
                display: flexbox;
                font-size: 30px;
            }

            #coinSafe  {
                width: 701px;
                height: 519px;
                top: 74px;
                left: 511px;

                #coin-safe-pic {
                    width: 400px;
                    height: 400px;
                    position: relative;
                    right: 100px;
                    top: 10px;
                }
            }
            
            .black {
                color: #686967CC;
            }

            .screen {
                display: block;
                margin: 0 auto;
                max-width: 80%;
            }

            .img-screen {
                width: 696px;
                height: 449px;
            }

            #screen1 {
                position: absolute;
                top: 2120px;
                left: 190px;
            }

            .blue-section {
                color: #FFFFFF;
                font-family: Raleway;
                font-weight: 500;
                letter-spacing: 0em;
                text-align: center;

            }

            #wdImg {
                width: 2000px;
                height: 660px;
            }

            #diam-h2 {
                position: absolute;
                top: 50px;
                left: 902px;
                font-size: 36px;
                line-height: 42px;
            }

            #diam-p {
                position: absolute;
                left: 670px;
                top: 120px;
                font-size: 20px;
                line-height: 29px;
                width: 704px;
                height: 28px;
                letter-spacing: 0.05em;
            }

            #what-is-diamondcoin {
                position: absolute;
                top: 2700px;
                left: 0px;
            }

            .our-vault {

                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 29px;
                letter-spacing: 0.02em;
            }

            #our-vault {
                position: absolute;
                top: 3500px;
                left: 255px;
            }

            #h2-our-vault {
                position: absolute;
                top: -53px;
                left: 159px;
                font-size: 36px;
                line-height: 42px;
                text-align: center;
                width: 427px;
                height: 43px;
            }

            .product-parr {
                color: #686967;
                width: 480px;
                height: 322px;
            }

            #parr1 {
                position: absolute;
                top: 57px;
                left: -129px;
            }

            #parr2 {
                position: absolute;
                left: -129px;
                top: 200px;
            }

            #parr3 {
                width: 731px;
                height: 180px;
                position: absolute;
                top: 400px;
                left: -40px;
            }

            #free-trade-pic {
                width: 496px;
                height: 272px;
                position: absolute;
                top: 20px;
                left: 400px;
                mix-blend-mode: darken;
                opacity: 100%;
            }

            .proofButton {
                width: 231px;
                height: 43px;
                border-radius: 3px;
                background-color: #0098D6;
            }

            #proofButton1 {
                position: absolute;
                top: 545px;
                left: 257px;
            }

            #proofButton2 {
                position: absolute;
                top: 550px;
                left: 1015px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 900;
            }

            #ourVaultSecond {
                position: absolute;
                top: 750px;
                left: -100px;
            }

            #h2Ourvault2 {
                width: 704px;
                height: 31px;
                position: absolute;
                top: -104px;
                left: 170px;

                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 104px;
                text-align: center;
                letter-spacing: 0.03em;
            }

            .parr4_7 {
                width: 887px;
                height: 336px;
                font-size: 18px;
            }

            #parr4 {
                position: absolute;
                top: 17px;
                left: 115px;
            }

            #parr5 {
                position: absolute;
                top: 120px;
                left: 391px;
                padding: 5px;
            }

            #parr6 {
                position: absolute;
                top: 233px;
                left: 115px;
            }

            #parr7 {
                position: absolute;
                top: 340px;
                left: 115px;
            }

            #diamond-coin-vault {
                position: absolute;
                top: 1195px;
                left: 100px;

                img {
                    width: 894px;
                    height: 281px;
                }
            }

            .why-diamonds {
                width: 2100px;
                height: 637px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                line-height: 29px;
                letter-spacing: 0.03em;
                color: #686967;
                background: #F5FAFE;

                img {
                    height: 600px;
                    width: 600px;
                }
            }

            #h2-why-diamonds {
                width: 257px;
                height: 43px;
                font-size: 38px;
                position: absolute;
                top: 30px;
                left: -159px;
                text-align: center;
            }

            #p-why-diamonds {
                font-size: 15px;
                width: 460px;
                height: 300px;
                position: absolute;
                top: 140px;
                left: -170px;
            }

            #why-diamond-pic {
                position: absolute;
                left: 1398px;
                top: -90px;
            }

            #why-diamonds {
                position: absolute;
                top: 5100px;
                bottom: 200px;
            }

            #big-icons-pics {
                position: absolute;
                top: 380px;
                left: 273px;
                
                .iconP {
                    text-transform: uppercase;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 15px;
                    text-align: center;
                    align-items: center;
                    margin-top: 20px;
                }
                
                img {
                    width: 140px;
                    height: 140px;
                }

                .icons-text {
                    width: 250px;
                    height: 250px;
                    text-align: center;
                    padding: auto;
                }

                #observed-div {
                    position: absolute;
                    top: -69px;
                    left: -3px;
                }

                #crisis-div {
                    position: absolute;
                    top: -69px;
                    left: 349px;
                }

                #brand-div {
                    position: absolute;
                    top: -51px;
                    left: 717px;
                }

                #certified-div {
                    position: absolute;
                    top: -51px;
                    left: 1112px;
                }

                #liquidity-div {
                    position: absolute;
                    top: -47px;
                    left: 1510px;
                }
            }

            .the-platform {
                width: 2100px;
                height: 637px;

                h2,h5, p {
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 500;
                }

                h5 {
                    width: 105px;
                    height: 12px;
                    text-transform: uppercase;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0.1em;
                }

                h2 {
                    width: 219px;
                    height: 43px;
                    font-size: 36px;
                    line-height: 42px;
                }

                p {
                    width: 413px;
                    height: 202px;
                    font-size: 15px;
                    line-height: 29px;
                    letter-spacing: 0.03em;
                    color: #686967;
                }

                img {
                    width: 400px;
                    height: 400px;
                }

                #img-platform {
                    position : absolute;
                    left: 420px;
                    top: 0px;
                }

                #h5-platform {
                    position: absolute;
                    left: 1000px;
                    top: 10px;
                }

                #h2-platform {
                    position: absolute;
                    left: 1000px;
                    top: 40px;
                }

                #p-platform {
                    position: absolute;
                    left: 1000px;
                    top: 100px;
                }
            }

            #the-platform {
                position: absolute;
                top: 5800px;
                left: 10px;
            }

            .infrastructure {
                width: 1870.26px;
                height: 881px;
                background:rgba(214, 234, 253, 0.25);
            }

            #infrastructure {
                position: absolute;
                top: 6199px;
                left: 0px;

                h2 {
                    width: 697px;
                    height: 43px;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 42px;
                    text-align: center;
                }

                #circle1 {
                    position: absolute;
                    top: 100px;
                    left: 200px
                }

                .infrastructure-eclipse {
                    width: 149px;
                    height: 149px;
                    border-radius: 50%;
                }

                #circle1 {
                    background:  rgba(104, 105, 103, 0.45);
                    position: absolute;
                    top: 140px;
                    left: 100px;
                }

                #circle2 {
                    background: rgba(0, 152, 214, 0.1);

                    position: absolute;
                    top: 600px;
                    left: 1200px;
                }

                #circle3 {
                    border: 1px solid #2D9CDB;
                    box-sizing: border-box;
                    background: #FFFFFF;

                    position: absolute;
                    left: 100px;
                    top: 600px;
                }

                .circle-pic {
                    width: 60px;
                    height: 60px;
                }

                #circle-pic1 {
                    position: absolute;
                    top: 38px;
                    left: 44px;
                }

                .p-circle {
                    font-family: 'Raleway';
                    font-style: normal;
                    font-size: 14px;
                    letter-spacing: 0.03em;
                    text-align: center;
                    align-items: center;
                }

                #p-circle1 {
                    text-transform: uppercase;
                    font-weight: 700;
                    line-height: 24px;
                    color: #FFFFFF;

                    position: absolute;
                    top: 100px;
                    left: 25px;
                }

                #h6-circle2 {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                    width: 134.53px;
                    height: 35.59px;

                    position: absolute;
                    top: 22px;
                    left: 9px;
                }

                #p-circle2 {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    width: 135px;
                    height: 88px;
                    padding: 2px;

                    position: absolute;
                    top: 60px;
                    left: 8px;
                }

                #circle-pic2 {
                    position: absolute;
                    top: 9px;
                    left: 48px;
                }

                #h6-circle3 {
                    text-transform: uppercase;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;

                    position: absolute;
                    top: 75px;
                    left: 10px;
                }

                .stone-button {
                    width: 195px;
                    height: 57px;
                    border-radius: 4px;
                    background: #BBBBBB;
                    box-shadow: 0px 5px 50px #F3F5FA;
                    border: none;
                }

                #stone-button1 {
                    position: absolute;
                    top: 200px;
                    left: 650px;
                }

                #blue-diamond-pic {
                    width: 149px;
                    height: 149px;

                    position: absolute;
                    top: 150px;
                    left: 1200px;
                }

                #h6-blue-diamond {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;

                    position: absolute;
                    top: 320px;
                    left: 1240px;
                }

                .blue-box {
                    width: 285px;
                    height: 271px;
                    background: #0098D6;
                    box-shadow: 0px 5px 50px rgba(214, 216, 220, 0.6);
                    border-radius: 4px;
                }

                #blue-box1 {
                    position: absolute;
                    top: 549px;
                    left: 631px;

                    .blue-box-text {
                        color: #FFFFFF;
                        letter-spacing: 00.03em;
                        font-style: normal;
                    }

                    #h4-blue-box {
                        text-transform: uppercase;
                        font-family: 'Raleway';
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 27px;
                        width: 106px;
                        height: 18px;

                        position: absolute;
                        left: 15px;
                        top: 34px;
                    }

                    .white-box {
                        width: 222px;
                        height: 44px;
                        background: #FFFFFF;
                    }

                    #white-box1 {
                        position: absolute;
                        left: 20px;
                        top: 100px;

                        li {
                            margin-right : 2px;
                        }

                        .white-coins {
                            display: block;
                            padding: 10px 20px;
                            text-align: center;

                            img {
                                width: 19.96px;
                                height: 19.96px;
                            }
                        }
                    }

                    .white-box-pic {
                        width: 139px;
                        height: 56px;
                    }

                    #white-box-pic1 {
                        position: absolute;
                        top: -6px;
                        left: 28px;
                    }

                    #h61-blue-box {
                        position: absolute;
                        left: 20px;
                        top: 70px;
                    }

                    #h62-blue-box {
                        position: absolute;
                        left: 20px;
                        top: 170px;
                    }

                    #white-box2 {
                        position: absolute;
                        top: 200px;
                        left: 20px;
                    }

                    #h3-blue-box {
                        font-size: 26px;

                        position: absolute;
                        top: 5px;
                        left: 15px;
                    }

                    .h6-blue-box {
                        font-family: 'Roboto';
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;
                        height: 19px;
                    }
                }

                .arrow {
                    width: 40.3px;
                    height: 78.9px;
                }

                #arrow1 {
                    rotate: (-90deg);

                    position: absolute;
                    top: 180px;
                    left: 430px;
                }

                #arrow2 {
                    rotate: (-90deg);

                    position: absolute;
                    top: 180px;
                    left: 1020px;
                }

                #arrow3 {
                    position: absolute;
                    left: 1250px;
                    top: 430px;
                }

                #arrow4 {
                    rotate: (90deg);

                    position: absolute;
                    left: 1020px;
                    top: 650px;
                }

                #arrow5 {
                    rotate: (90deg);

                    position: absolute;
                    left: 430px;
                    top: 650px;
                }
            }

            #h2-infrastructure {
                position: absolute;
                top: 50px;
                left: 420px;
            }

            .about-us {
                width: 890px;
                height: 950px;
                margin-top: 30px;
            }

            #about-us {
                position: absolute;
                top: 7187px;
                left: 10px;

                p {
                    margin-bottom: 35px;
                }
            }

            #h2-about-us {
                position: absolute;
                top: -70px;
                left: 200px;
            }

            .text-about {
                width: 890px;
                height: 705px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 29px;
                text-align: center;
                letter-spacing: 0.03em;
                color: #686967;
            }

            #text-about1 {
                position: absolute;
                top: 20px;
                left: 10px;
            }

            .h2-about {
                width: 427px;
                height: 43px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 36px;
                line-height: 42px;
                text-align: center;
            }
        }
    }

    #prices {
        height: 196px;
        width: 1201px;
        left: -1px;
        top: 563px;
        border-radius: 0px;
    }

    .bordered {
        background-color: #EBF6FF;
        margin: 5px;
        padding-top: 10px;

        .safe p {
            font-family: Raleway;
            font-size: 10px;
            font-weight: 600;
            line-height: 12px;
            letter-spacing: 0.1em;
            text-align: left;
        }

        .total {
            text-transform: uppercase;
        }

        .blueBox {
            margin-left: 35px;
            margin-bottom: 20px;
            height: 34px;
            width: 183px;
            left: 103px;
            top: 617px;
            border-radius: 2px;
            background-color: #0098D6B5;
            color: white;
            text-align: center;
            font: Roboto;
            padding-top: 5px;
        }

        .input {
            height: 46px;
            width: 228px;
            left: 364px;
            top: 604px;
            border-radius: 2px;
            border: none;
            text-align: center;
            margin-top: 20px;
        }

        .send {
            background-color: #0098D6;
            width: 228px;
            height: 46px;
            Top: 669px;
            Left: 872px;
            margin-top: 20px;
            border-radius: 2px;
            text-align: center;
        }
    }

    #required {
        height: 16px;
        width: 56px;
        left: 1044px;
        top: 728px;
        border-radius: nullpx;
        color: #686967;
        margin-top: 15px;
        margin-left: 160px;
    }

    #ourProducts {
        position: absolute;
        width: 1200px;
        height: 47px;
        left: 100px;
        top: 1310px;

        h2 {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            margin-bottom: 40px;
        }
    }

    #the-process {
        position: absolute;
        width: 1400px;
        height: 655px;
        left: 10px;
        top: 1700px;
        background: rgba(187, 189, 191, 0.15);

        h2 {
            margin-top: 10px;
            text-align: center;
        }

        #sixSteps {
            position: absolute;
            width: 704px;
            height: 28px;
            left: 360px;
            top: 100px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #686967;
        }


        .bigEclipse {
            width: 69px;
            height: 69px;
            background: #FFFFFF;
            border-radius: 50%;
        }

        #bigEclipse1 {
            position: absolute;
            top: 150px;
            left: 147px;
        }

        #bigEclipse2 {
            position: absolute;
            top: 150px;
            left: 312px;
        }

        #bigEclipse3 {
            position: absolute;
            top: 150px;
            left: 477px;
        }

        #bigEclipse4 {
            position: absolute;
            top: 150px;
            left: 642px;
        }

        #bigEclipse5 {
            position: absolute;
            top: 150px;
            left: 807px;
        }

        #bigEclipse6 {
            position: absolute;
            top: 150px;
            left: 972px;
        }

        .blueLine {
            border: 1px solid #0098D6;
            margin-left: 10px;
            width: 54px;
            position: absolute;
            top: 34px;
            left: 80px;
        }

        .insideBigEclpse {
            margin: 20px 10px;
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: center;
        }
    } 
}